<h2>New Calandar
</h2>



{% block form %}
    <form id="schedular-form" class="form-horizontal" role="form" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label for="calendar-name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input id="calendar-name" type="text" class="form-control" name="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="calendar-description" class="col-sm-2 control-label">Description</label>

                <div class="col-sm-10">
                    <textarea id="calendar-description" class="form-control" rows="3" name="description" placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="?page=jih-NewCalendar" class="add-new-h2">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}

<script>
    jQuery('#schedular-form').submit(function(e){
        e.preventDefault();
        api.SaveCalendar(jQuery(this).serializeObject(),function(){
            GotoUrl(jQuery.query.set('page','jih-calendars'))

        });
        return false;
    })
</script>