

{{ get_header() }}

<div id="wrap" class="container clearfix template-frontpage">
    <section id="content" class="primary" role="main">

        {% block content %}
            this is the content section
        {% endblock %}


    </section>
    {{ get_sidebar() }}
    <?php  ?>


</div>

{{ get_footer() }}
