#jih-calendar td {
    overflow: auto;
}
#jih-calendar td::-webkit-scrollbar {
    display: none;

}

.table thead th {
    font-weight: bold;
}

.table tbody th {
    text-align: right;
}

table.table tbody > tr:nth-child(odd) > th {
    background-color: #CCC;
}

/*somehow unused*/
table.table tbody > tr:nth-child(even) > th {
    background-color: #FFF;
}
table.table tbody tr td:hover {
    background-color: #AAA;
}

table.fixed {
    table-layout: fixed;
}

a.btn:link, a.btn:visited {
    font-weight: bold;
    color: white;
}

/* For Calendar */
table.table tbody tr td.is-filled {
    background-color: #9fbdff;
}


/* for minezine */
/** {*/
    /*-webkit-box-sizing: content-box !important;*/
    /*-moz-box-sizing: content-box !important;;*/
    /*box-sizing: content-box !important;;*/
/*}*/

#container .header-content,
#wrapper #container #main-content,
#footer,
#header .menu-box,
#main-content{
    width: 100%; !important;

}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: inline-block;
    text-align: center;
}

#searchform .searchform-wrapper #s {
    height: 31px !important;

}

.form-control {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    width: 100%  !important;
    padding: 6px 12px  !important;
    font-size: 14px  !important;
}
